name: test

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: install fnm
        shell: bash
        run: |
          set -euo pipefail
          sudo apt-get update
          sudo apt-get install -y curl unzip

          curl -fsSL https://fnm.vercel.app/install | bash

          export FNM_PATH="$HOME/.local/share/fnm"
          export PATH="$FNM_PATH:$PATH"
          eval "$(fnm env --use-on-cd)"
          fnm --version
